@model List<BlogPost>

@{
    ViewData["Title"] = "Blog";
}

<div class="d-flex">
    <div class="flex-grow-1"><h1>Blog</h1></div>
    <div class="">
        @if (User.IsInRole("Admin"))
        {
            <a class="btn btn-primary btn-sm" asp-area="" asp-controller="Admin" asp-action="AddBlogPost">Add Blog Post</a>
        }
    </div>
</div>
@foreach (BlogPost post in Model)
{
    <div class="container mt-3 shadow p-5 text-left">
        <h4>@post.BlogPostTitle</h4>
        <p><strong>@post.Author.Name</strong> <small>@post.BlogPostDate</small></p>
        <p>@post.BlogPostText</p>

        @if (post.BlogPostComments.Count > 0)
        {
            <br />
            <p>
                @post.BlogPostComments.Count @if (post.BlogPostComments.Count == 1)
                {
                    <span>comment</span>
                }
                else
                {
                    <span>comments</span>
                }
            </p>
            @foreach (BlogPostComment comment in post.BlogPostComments)
            {
                @if (@comment.Commenter != null)
                {
                    <strong>@comment.Commenter.Name</strong> <small>@comment.CommentDate.Date</small>
                    <p>@comment.CommentText</p>
                }
            }

        }
        <a asp-action="Comment" asp-route-blogpostId="@post.BlogPostID" class="btn btn-primary btn-sm">Add Comment</a>

    </div>

}

@if (Model.Count == 0)
{
    <div class="container mt-3 p-5 text-center">
        <p>There aren't any blog posts yet.</p>
    </div>}